.emp--container{
  padding: 20px;
  width: 95%;
  position: fixed;
}

.emp-layout{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(236,215,149,1) 0%, rgba(146,232,244,1) 100%); 
}

.emp--header{
  margin-bottom: 10px;
}

.emp--table {
  width: 100%;
  border-collapse: separate; /* Change from 'collapse' to 'separate' */
  border-spacing: 0; /* Remove spacing between cells */
  background: white;
  border-radius: 8px; /* Apply border-radius to table */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  overflow-y: scroll; /* Ensure rounded corners are visible */
}

.emp--table th, 
.emp--table td {
  padding: 16px;
  border-radius: 0; /* Reset individual border-radius */
}

.emp--table th{
  font-size: 19px; /* Reset individual border-radius */
}

.emp--table td {
  font-size: 15px;
}

.emp--table th:first-child {
  border-top-left-radius: 8px; /* Rounded top-left corner */
}

.emp--table th:last-child {
  border-top-right-radius: 8px; /* Rounded top-right corner */
}

.emp--table tr:last-child td:first-child {
  border-bottom-left-radius: 8px; /* Rounded bottom-left corner */
}

.emp--table tr:last-child td:last-child {
  border-bottom-right-radius: 8px; /* Rounded bottom-right corner */
}

.emp--table th, 
.emp--table td {
  padding: 16px;
  border-radius: 0; /* Reset individual border-radius */
  border-right: 1px solid  #ced6d0;
}

.emp--table th{
  background-color: white;
  font-size: 16px;
}

.emp--table td{
  font-size: 13px;
}

.emp--table tr:nth-child(even){
  background-color: white;
}

.emp--table tr:nth-child(odd){
  background-color: #ced6d0;
}

.col--operations{
  display: flex;
  justify-content: space-around;
}

.emp--table .btn-archive{
  border: none;
  background-color: #9E9E9E;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.emp--table .btn-update{
  border: none;
  background-color: #4CAF50;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.emp--table .btn-delete{
  border: none;
  background-color: #F44336;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.btn--add{
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 12px;
  background-color: #b04d1c;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* POPUP DESIGN */
.emp--popup {
  padding: 10px;
  margin: auto;
  margin-left: 150px;
  align-items: center;
}

.h3--add--header{
  color: white;
  background-color: #4CAF50;
  padding: 8px;
  width: 220px;
  border-radius: 4px 25px 25px 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.emp--popup--container{
  height: 100%;
  padding: 20px;
  border-radius: 20px;
}

.emp--form {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
  align-items: center;
}

.emp--input {
  padding: 10px;
  width: 30%; /* Adjust width to fit your design */
  margin-bottom: 20px;
}

.btn--emp--add {
  padding: 10px;
  width: 30%; /* Full width button */
  background-color: #b04d1c;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.emp-layout{
  height: 100vh;
}
