.layout-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.pos--container {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(144,198,91,1) 0%, rgba(104,194,207,1) 100%);
  display: flex;
  flex-direction: row;
}

.pos-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 83%;
  margin-left: 20px;
  margin-top: 21px;
  max-height: calc(100vh - 70px); /* Adjust this to fit your layout */
  overflow-y: auto;
  padding-bottom: 10px;
  overflow: scroll;
}

.pos-item {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 239px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pos-item-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.size-control-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.size-info {
  flex: 1;
  font-size: 12px;
  text-align: right;
}

.pos-item h2 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 18px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-control button {
  padding: 5px 10px;
  margin: 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.quantity-control span {
  font-size: 12px;
}

.sticky-summary {
  position: fixed;
  top: 20px;
  right: 0;
  width: 20%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 40px); /* Adjust this to fit your layout */
  overflow-y: auto;
}

.sticky-summary h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.sticky-summary ul {
  list-style: none;
  padding: 0;
}

.sticky-summary li {
  margin-bottom: 10px;
}

.sticky-summary h3 {
  margin-top: 25px;
  font-size: 18px;
}

.clear-order-btn {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
}

.clear-order-btn:hover {
  background-color: #cc0000;
}

.payment-container {
  margin-top: 15px;
}

.payment-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.payment-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

.pos--prod--image {
  width: 208px;
  height: 120px;
  border-radius: 4px;
}

.receipt-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.pay-btn {
  width: 100%;
  padding: 8px 15px;
  background-color: #3f91e9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pay-btn:hover {
  background-color: #2b70ba;
}

.receipt-popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 90%;
  max-width: 600px;
  max-height: 80vh; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  color: black;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  background: none;
}

.print-btn {
  background: #4CAF50; /* Green background */
  color: #fff; /* White text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.print-btn:hover {
  background: #45a049; 
}

/* Specific button styles */
.category--btn {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  margin-left: 20px;
}

.cat--selection {
  background-color: #f8f8f8; /* Default background color */
  color: #333; /* Default text color */
  padding: 8px 15px;
  border: none;
  border-radius: 25px 25px 25px 25px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cat--selection:hover {
  background-color: #b2633b; /* Background color on hover */
  color: white;
}

.cat--selection.active {
  background-color: #b04d1c; /* Background color when active */
  color: white; /* Text color when active */
}

.clear-order-btn {
  background-color: #ff4d4d;
  color: white;
}

.clear-order-btn:hover {
  background-color: #cc0000;
}

.pay-btn {
  background-color: #3f91e9;
  color: white;
}

.pay-btn:hover {
  background-color: #2b70ba;
}

.print-btn {
  background-color: #4CAF50;
  color: white;
}

.print-btn:hover {
  background-color: #45a049;
}

.pay-discount{
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 8px 15px;
  text-align: center;
  background-color: #3f91e9;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
}

.pay-discount:hover {
  background-color: #2b70ba;
}