.stock-container {
  position: fixed ;
  width: 100%;
  margin-left: 100px;

}

.stock--main--container{
  width: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(236,198,123,1) 0%, rgba(199,171,223,1) 100%); 
}

.stock-container > h1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.stock-container .prod--table {
  width: 70%;
}

.btn-add--prod{
  margin: 30px 0;
  padding: 12px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 3px;
  cursor: pointer;
}

.stock--container .prod--table th:first-child {
  border-top-left-radius: 8px; /* Rounded top-left corner */
}

.prod--table th:last-child {
  border-top-right-radius: 8px; /* Rounded top-right corner */
}

.prod--table tr:last-child td:first-child {
  border-bottom-left-radius: 8px; /* Rounded bottom-left corner */
}

.prod--table tr:last-child td:last-child {
  border-bottom-right-radius: 8px; /* Rounded bottom-right corner */
}

.btn-add--prod:hover{
  background-color: rgb(223, 218, 218);
}

.prod--table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: transparent;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(236,198,123,1) 0%, rgba(199,171,223,1) 100%); 
}

.prod--table, .prod--th--head, .prod--td--body{
  border-collapse: collapse;
  padding: 5px;
  width: 100vh;
  text-align: center;
}
td, th {
  padding: 5px;
}

.prod--table--operation{
  margin: auto;
}

.btn--prod--update{
  border: none;
  background-color: #4CAF50;
  padding: 4px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  margin-right: 4px;
  width: 80px;
}

.btn--prod--update:hover{
  background-color:  #3a913d;
}

.btn--prod--delete{
  border: none;
  background-color: #F44336;
  padding: 4px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  width: 80px;
}

.btn--prod--delete:hover{
  background-color:  #bc443c;
}